{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

        <h2>{{ "articles.created" | trans({"%title%": title}) | raw }}</h2><br/>

        <div class="row">
            <div class="col-xs-12 centered-block">
                <a href="{{ path('new_article') }}" class="btn btn-success">{{ "articles.create_another_one" | trans }}</a>
                <a href="{{ path('homepage') }}" class="btn btn-default">{{ "common.go_to_homepage" | trans }}</a>
            </div>

        </div>
    </div>
{% endblock %}

