{% extends 'base.html.twig' %}
{% block body %}
    <h2>{{ article.title }}</h2>
    preview text: {{ article.PreviewText }}<br/>
    full text: {{ article.fullText }}<br/>
    autor: {{ article.author }}<br/>
    published at: {{ article.date |date("d/m/Y h:m:i")}}
{% endblock %}