{% extends 'base.html.twig' %}

{% block body %}
    <div id="main" class="row">
            <div class="col-xs-12">
                <div id="article-block">
                    <span id="article-title" class="h2">{{ article.title }}
                        {% if is_granted('ROLE_ADMIN') %}
                            <sup><a href="{{ path('delete_article', {'id': article.id}) }}">({{ 'articles.delete' | trans }})</a></sup>
                        {% endif %}
                    </span>

                    <div id="article-info">
                        {{ 'articles.posted_by' | trans({'%author%': article.author}) }}
                        {{ 'articles.posted_on' | trans({'%date%': article.date | date("d/m/Y h:m:i")}) }}
                    </div>

                    <div id="article-content">
                        <p>{{ article.fullText }}</p>
                    </div>

                </div>
            </div>
    </div>
{% endblock %}