{% extends 'base.html.twig' %}

{% block body %}
    <div id="main" class="row">
        {% for article in articles %}
            <div class="col-sm-6">
                <div id="article-block">
                    <span id="article-title" class="h2">
                        <a href="{{ path('show_article', { 'id': article.id }) }}">{{ article.title }}</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <sup><a href="{{ path('delete_article', {'id': article.id}) }}">({{ 'articles.delete' | trans }})</a></sup>
                        {% endif %}
                    </span>

                    <div id="article-info">
                        {{ 'articles.posted_by' | trans({'%author%': article.author}) | raw }}
                        {{ 'articles.posted_on' | trans({'%date%': article.date | date("d/m/Y H:m")}) }} &bull;
                        <a href="{{ path('show_article', { 'id': article.id }) }}">{{ 'articles.full_article_linktext' | trans }}</a>
                    </div>
                    <div id="article-content">
                        <p>{{ article.fullText |length > 300 ? article.fullText|slice(0, 300) ~ '...' : article.fullText }}</p>
                    </div>
                </div>
            </div>
            {% if loop.index % 2 == 0 and loop.index != 0%}
                <div style="clear: both"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}