{% extends 'base.html.twig' %}

{% block body %}
    <div id="main" class="row">
        {% for article in articles %}
            <div class="col-sm-6">
                <div id="article-block">
                    <span id="article-title" class="h2">{{ article.title }}</span>
                    <div id="article-info">Posted by <a href="#">{{ article.author }}</a> on {{ article.date |date("d/m/Y h:m:i")}} {#February 07, 2013#} &bull; <a href="{{ path('show_article', { 'id': article.id }) }}">Full article</a></div>
                    <div id="article-content">
                    </div>
                    <p>{{ article.fullText |length > 300 ? article.fullText|slice(0, 300) ~ '...' : article.fullText }}</p>
                </div>
            </div>
            {% if loop.index % 2 == 0 and loop.index != 0%}
                <div style="clear: both"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}